In [7]:
import pandas as pd

In [8]:
file_name = 'Ensemble4'
model = ['model4',
         'Ensemble2',
         'Ensemble3']

In [9]:
df = []
for i in range(len(model)):
    df_temp = pd.read_csv(f'{model[i]}.csv', index_col=0)
    df.append(df_temp)

In [10]:
df_combine = pd.concat(df,axis=1, )
df_combine = df_combine.mode(axis=1).dropna(axis=1)

In [11]:
df_combine = df_combine.astype('int32')
df_combine.columns = ['Category']
df_combine

      Category
Id
0            5
1            1
2            0
3            3
4            9
...        ...
2995         1
2996         3
2997         0
2998         6
2999         8

[3000 rows x 1 columns]

In [12]:
df_combine.to_csv(f'{file_name}.csv',index=True)